@{
    ViewData["Title"] = "About Page";
}

<div class="sub_page">
    <!-- about section -->
    <section class="about_section position-relative">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Fast <br>
                                Food
                            </h2>
                            <hr>
                        </div>
                        <p>
                            <strong>Shop Name:</strong> Fast Food / Fast Food Shop <br />
                            <strong>Owner:</strong> SomeOne
                        </p>
                        <p>
                            Trang web bán thức ăn nhanh là một nền tảng trực tuyến tiện lợi, cung cấp cho khách hàng một loạt các lựa chọn thực phẩm từ nhiều thương hiệu nổi tiếng. 
                            Khách hàng có thể dễ dàng tìm thấy và đặt hàng các món ăn yêu thích như bánh mì kẹp, pizza, gà rán và nhiều món ăn khác chỉ với vài cú nhấp chuột. 
                            Giao diện của trang web thân thiện với người dùng, cho phép người dùng dễ dàng duyệt qua các danh mục món ăn, xem đánh giá và nhận xét từ những khách hàng khác. 
                            Với dịch vụ giao hàng nhanh chóng và đảm bảo chất lượng, trang web bán thức ăn nhanh là giải pháp hoàn hảo cho những ai yêu thích sự tiện lợi và muốn thưởng thức các món ăn ngon mà không cần phải ra khỏi nhà
                        </p>
                        <div class="heading_container">
                            <h2>
                                Vì sao nên chọn Fast Food ?
                            </h2>
                            <hr>
                        </div>
                        <p>
                            <strong>Minh bạch</strong> - người dùng có thể xem giá từng loại món trước khi đặt
                        </p>
                        <p>
                            <strong>Tiện lợi</strong> - đặt nhận hàng ở bất cứ đâu trong tỉnh
                        </p>
                        <p>
                            <strong>Chất lượng </strong>- đồ ăn được đánh giá công khai trên trang để người dùng tham khảo
                        </p>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="img-box">
                        <img src="~/images/about-img.jpg" >
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->
    <!-- footer section -->
    <section class="container-fluid footer_section position-relative layout_margin">
        <div class="container text-center footer_section" style="color: white">
            NET105-SD18318-PS30117-TranGiaHao-ASM
        </div>
    </section>
    <!-- footer section -->
</div>