@using Microsoft.AspNetCore.Identity
@using UI.Areas.Identity.Data
@* @model FoodShop.Areas.Identity.Pages.Account.LoginModel *@

@* @inject SignInManager<FoodShopUser> SignInManager
@inject UserManager<FoodShopUser> UserManager *@

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" id="google" asp-area="Identity" asp-page="/Account/ExternalLogin"><img src="~/images/google.jpg" /></a>
    </li>
</ul>

